<div id="<%= dom_id entry %>">
  <h2 class="my-5 text-2xl font-bold">
    <%= entry.title %>
  </h2>


<div>
  <%=image_tag(entry.image, alt: '')%>
</div>

  <p class="my-5">
    <%= entry.content %>
  </p>

  <div class="my-5">
  <small>
    <%= entry.published_at %>
  </small>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this entry", entry, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this entry', edit_entry_path(entry), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
