<!DOCTYPE html>
<html>
  <head>
    <title>Blog podróżniczy by Ola</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-neutral-400">
    <header class="bg-gray-500 text-white text-center p-5 mb-10 flex justify-between">

      <div>
      <% if user_signed_in? %>

      Hello <%=current_user&.email%> !

      <% end %>

      </div>

    </header>
    
    <main class="container mx-auto mt-28 px-5 flex"> 
      <%= yield %>
    </main>
    
  </body>

</html>
